rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // function log(auctionRequestsId) {
    //   return debug(get(/databases/$(database)/documents/auction-requests/$(auctionRequestsId)).data["profileId"]) 
    //     || debug(request.auth.uid) 
    //     || false;
    // }

    // 인증 되었을 때 프로필 목록 조회 가능
    match /profiles/{document=**} {
      allow read: if request.auth != null;     
    }
    // 프로필 정보 수정은 본인만
    match /profiles/{uid} {
      allow write: if request.auth.uid == uid;
    }

    // 포인트 수정 불가(클라우드함수에서 처리)
    // 포인트 조회는 본인만
    match /points/{uid} {     
      allow write: if false;
      allow read: if request.auth.uid == uid;
    }

    // 경매요청 정보는 본인만 읽기, 쓰기 가능
    match /auction-requests/{auctionRequestsId} {     
      // 요청 정보의 프로필 정보가 인증정보와 일치
      allow write: if request.resource.data["profileId"] == request.auth.uid;
      // 경매요청 정보의 프로필 정보가 인증정보와 일치
      allow read: if get(/databases/$(database)/documents/auction-requests/$(auctionRequestsId)).data["profileId"]
                      == request.auth.uid;
    }

    // 경매정보 작성 불가 
    // create auction-requests -> 관리자검증(poc에서는트리거로) -> create auctions
    match /auctions/{document=**} {     
      allow create: if false;
      allow read: if request.auth != null; 
    }

    // 경매정보 수정은 본인만 가능(임시, 자동종료)
    match /auctions/{auctionId} {     
      allow update: if request.resource.data["profileId"] == request.auth.uid;
      allow delete: if false; 
    }

    // 경매 조회수 정보는 본인만 쓰기 가능, 인증된 사용자는 읽기 가능
    match /auctions/{auctionId}/views/{uid} {     
      allow write: if request.auth.uid == uid;
      allow read: if request.auth != null;     
    }

    // 입찰요청정보는 본인만 읽고, 쓰기 가능
    match /auctions/{auctionId}/bid-requests/{uid} {     
      allow read, write: if request.auth.uid == uid;
    }

    // 입찰정보 쓰기 불가 
    // create bid-requests -> 트리거로 검증 -> create bids
    // 클라이언트 측에서 쓰기 불가
    match /auctions/{auctionId}/bids/{document=**} {   
      allow write: if false;
      allow read: if request.auth != null;
    }

    // 입찰정보 컬렉션 그룹에 대한 규칙을 설정합니다.
    match /{path=**}/bids/{uid} {
      allow read: if request.auth != null;
    }

    // !! ===== 규칙이 없는 문서는 기본 접근 제한
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

